/*
 * HomeNavbar
 */

.home-navbar-item-active {
    color: rgb(255, 255, 255);
    background-color: rgba(243, 190, 43, 0.7);
}

.home-navbar-item-home-active {
    color: rgb(243, 190, 43);
}

.home-navbar-item {
    text-decoration: none !important;
    color: rgb(255, 255, 255);

    &:hover {
        color: rgb(255, 255, 255) !important;
        text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
    }
}

.homenavbar {
    background: #446da2 !important;
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width: 990px) {
    .navbar-collapse.collapse.show {
        background: rgba(0, 0, 0, 0.5) !important;
        margin-left: -15px;
        margin-right: -15px;
    }

    .nav-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .nav-item>a {
        display: block;
    }

    .navbar-dashboard {
        margin-bottom: 100%;
    }
}