/*
 * HomeNavbar
 */

.home-navbar-item:hover,
.home-navbar-item-active {
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff;
}

.home-navbar-item {
    text-decoration: none !important;
    color: rgb(255, 255, 255);
}

.homenavbar {
    background: rgba(50, 50, 50, 0.3) !important;
}

@media (max-width: 990px) {
    .navbar-collapse.collapse.show {
        background: rgba(0, 0, 0, 0.5) !important;
        margin-left: -15px;
        margin-right: -15px;
    }
    .nav-item {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .nav-item>a {
        display: block;
    }
    .navbar-dashboard {
        margin-bottom: 100%;
    }
}

/*
 * Pagination
 */