$mainBgColor: rgba(0, 0, 0, 0.3);
$primaryColor: rgba(243, 190, 43, 0.5);

/*
 * Frontproducts
 */
.modal-backdrop {
    z-index: 1020 !important;
}

.flyGift {
    color: rgb(5, 81, 167);
    z-index: 50;
    top: -50px;
    left: -50px;
    display: none;
    transition: all 1s cubic-bezier(1, 0.08, 0, 1.19);
    position: fixed;
    z-index: -1;
}

.productmenu-item {
    text-align: center;
    font-size: 30px; //box-shadow: 0px 3px 5px rgba(20%, 20%, 40%, 0.6);
    color: rgb(243, 190, 43);
    border: rgb(150, 150, 150) solid 1px;
}

@media (min-width:768px) {
    .productmenu-item {
        margin: 10px 10px 10px 10px;
    }
}


.productmenu-item-zh {
    font-size: 30px;
}

.productmenu-item-jp {
    font-size: 12px;
}


@media (max-width:855px) {
    .productmenu-item-zh {
        font-size: 25px;
    }

    .productmenu-item-jp {
        font-size: 10px;
    }
}

@media (max-width:768px) {
    .productmenu-item-zh {
        font-size: 30px;
    }

    .productmenu-item-jp {
        font-size: 12px;
    }
}

@media (max-width:640px) {
    .productmenu-item-zh {
        font-size: 25px;
    }

    .productmenu-item-jp {
        font-size: 10px;
    }
}

@media (max-width:576px) {
    .productmenu-item-zh {
        font-size: 30px;
    }

    .productmenu-item-jp {
        font-size: 12px;
    }
}

// .productmenu-item:hover {
//     color: #fff;
// }

// @media (min-width:768px) {
//     .productmenu-item:hover {
//         text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 10px #fff !important;
//     }
// }

.btn-cart {
    background-color: transparent;
    position: relative;
}

@media (max-width: 990px) {
    .btn-cart {
        margin-right: 30px;
    }

    .shopping-cart-wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
    }
}

.btn-cart .badge {
    position: absolute;
    top: -1px;
    right: -1px;
}

.nav-link.nav-link-frontproducts {
    &>div {
        &>div {
            &>.productmenu-item-img-all {
                content: url("./assets/gif/tenor_0_q.png");
            }

            &>.productmenu-item-img-kantou {
                content: url("./assets/gif/tenor_1_q.png");
            }

            &>.productmenu-item-img-kansai {
                content: url("./assets/gif/tenor_3_q.png");
            }

            &>.productmenu-item-img-hokkaidou {
                content: url("./assets/gif/tenor_4_q.png");
            }
        }
    }
}

.nav-link.active.nav-link-frontproducts {
    // background-color: $primaryColor;
    background-color: #fff;
    color: #000;

    &>div {
        &>div {
            &>.productmenu-item-img-all {
                content: url("./assets/gif/tenor_0.gif");
            }

            &>.productmenu-item-img-kantou {
                content: url("./assets/gif/tenor_1.gif");
            }

            &>.productmenu-item-img-kansai {
                content: url("./assets/gif/tenor_3.gif");
            }

            &>.productmenu-item-img-hokkaidou {
                content: url("./assets/gif/tenor_4.gif");
            }
        }
    }
}

// .nav-pills .nav-link {
//     text-shadow: 0px 0px 20px #000;
// }
.nav-pills .nav-link {
    color: rgba(0, 0, 0, 0.8);
}

.nav-pills .nav-link:hover {
    color: $mainBgColor;
}

@media (min-width:768px) {
    .nav-pills-frontproducts {
        padding-top: 50px;
    }
}

// .shoppingcart-left-menu {
//     // overflow-y: scroll;
//     //height: 500px;
// }
// .dropdown-menu-right {
//     right: 0;
//     left: auto;
// }
.wrap-FrontProducts {
    // background-image: url("./assets/home_bg/product_.jpg");
    // background-size: cover; //
    // background-position: center center; //
    // background-attachment: fixed; //
    padding-bottom: 350px;
}

@media (max-width:768px) {
    .mx-md-auto {
        margin-left: auto;
        margin-right: auto;
    }
}

@media (max-width:540px) {
    .nav-pills-frontproducts {
        background: rgba(180, 180, 180, 0);
    }
}

.frontproduct-text {
    height: 150px;
    overflow-y: hidden;
}

@media (max-width:990px) {
    .frontproduct-text {
        color: #fff;
    }
}

@media (max-width:900px) {
    .frontproduct-text {
        font-size: 14px;
    }
}

@media (max-width:400px) {
    .frontproduct-text {
        font-size: 11px;
    }
}


.product-inner-title {
    color: #446da2;
    border: 1px solid #446da2 !important;
}

@media (max-width:1350px) {
    .product-inner-title {
        font-size: 14px;
    }
}

@media (max-width:990px) {
    .product-inner-title {
        color: #f3be2b;
        border: 1px solid #f3be2b !important;
    }
}

// @media (max-width:400px) {
    //     .product-inner-title {
    //         font-size: 12px;
    //     }
    // }

@media (max-width:400px) {
    .product-category {
        display: none;
    }
}

// @media (max-width:960px) {
//     .product-inner-title {
//         font-size: 12px;
//     }
// }

// @media (max-width:768px) {
//     .product-inner-title {
//         font-size: 20px;
//     }
// }

.btn-addToCart {
    background-color: rgb(243, 190, 43);
    border: none;
}

.btn-addToCart:hover {
    background-color: rgba(243, 190, 43, 0.7);
}

.btn-addToCart:focus {
    box-shadow: none;
}

/*
 * Shoppingcart
 */

.shoppingcart-menu {
    overflow-y: auto;
    height: 500px;
}

@media (max-width: 990px) {
    .shoppingcart-menu {
        height: 300px;
    }
}

@media (max-width: 768px) {
    .shoppingcart-menu {
        height: 200px;
    }
}

/*
 * about
 */

.wrap-about {
    background-image: url("./assets/home_bg/product_.jpg");
    background-size: cover; //
    background-position: center center; //
    background-attachment: fixed; //
    // height: 1152px; //tmp
    overflow: hidden;
    width: 100%;
    padding-bottom: 200px;
}